In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_july=pd.read_csv("data/train_July.csv")
train_aug=pd.read_csv("data/train_Aug.csv")
weather=pd.read_csv("data/weather.csv")
poi=pd.read_csv("data/poi.csv")
test=pd.read_csv("data/test_id_Aug_agg_public5k.csv")

In [3]:
train_aug_dict=train_aug.groupby(['start_geo_id','end_geo_id','create_date','create_hour'])['id'].count().to_dict()
train_aug['count']=train_aug.apply(lambda x:train_aug_dict[tuple([x['start_geo_id'],x['end_geo_id'],x['create_date'],x['create_hour']])],axis=1)

In [4]:
train_aug=train_aug[train_aug[['start_geo_id','end_geo_id','create_date','create_hour']].duplicated()==False]
train_aug=train_aug[['start_geo_id','end_geo_id','create_date','create_hour','count']]

In [5]:
test.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21
1,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21
2,2,c538ad66d710f99ad0ce951152da36a4,27d75f17e61587172fe7a6827bbaa198,2017-08-01,21
3,3,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,17
4,4,92e1e8020813ef939183e345626b442a,92e1e8020813ef939183e345626b442a,2017-08-01,17

In [6]:
train_aug.head()

,start_geo_id,end_geo_id,create_date,create_hour,count
0,aa532f0935c3f7f5d2f1f337125998a0,940ed2bc6835c66f6261c972d4176d25,2017-08-01,12,1
1,0a64b01e91cf367a9b016d4f6d42290f,1239d1bfdc532392645d7a37f7469adf,2017-08-01,12,3
2,c538ad66d710f99ad0ce951152da36a4,c538ad66d710f99ad0ce951152da36a4,2017-08-01,14,7
3,ba20ac2de22cfe373f316eaa256b85fc,ba20ac2de22cfe373f316eaa256b85fc,2017-08-01,14,5
4,83fdd3fc77b27bdbfbc1b3a8d7912fbf,3d53327ef089e222f9d4aa6823f60c70,2017-08-01,16,1

In [7]:
merged_data=test.merge(train_aug,on=['start_geo_id','end_geo_id','create_date'],how='inner')

In [8]:
result=dict()
def get_count(x):
    if x['test_id'] in result.keys():
        return
    value=np.array([-1,-1])
    data=merged_data[merged_data['test_id']==x['test_id']]
    idx=data['create_hour_x']>data['create_hour_y']
    wt=1.0/abs(data['create_hour_x']-data['create_hour_y'])**0.7
    if sum(idx)>0:
        value[0]=sum(data['count'][idx]*wt[idx])/sum(wt[idx])
    if sum(idx==False)>0:
        value[1]=sum(data['count'][idx==False]*wt[idx==False])/sum(wt[idx==False])
    w=np.array([0.5,0.5])
    flag=value>0
    pre=sum(value[flag]*w[flag])/sum(w[flag])
    result[x['test_id']]=pre

,test_id,start_geo_id,end_geo_id,create_date,create_hour_x,create_hour_y,count
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,12,4
1,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,18,10
2,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,22,32
3,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,8,7
4,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,16,3
5,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,2,2
6,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,0,6
7,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,20,5
8,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,14,3
9,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,12,4
10,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,18,10
11,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,22,32
12,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,8,7
13,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,16,3
14,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,2,2
15,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,0,6
16,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,20,5
17,56,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,15,14,3
18,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,12,4
19,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,18,10
20,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,22,32
21,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,8,7
22,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,16,3
23,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,2,2
24,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,0,6
25,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,20,5
26,142,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,17,14,3
27,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21,12,3
28,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21,22,20
29,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21,16,9
...,...,...,...,...,...,...,...
14171,4926,f92dfcc31699ad56d967a57673b8fc65,f841c6a1468682b782fc80aaf4b833d9,2017-08-07,1,8,1
14172,4926,f92dfcc31699ad56d967a57673b8fc65,f841c6a1468682b782fc80aaf4b833d9,2017-08-07,1,14,1
14173,4927,d401d2164b0bca8a0f160439792bbfe5,ba20ac2de22cfe373f316eaa256b85fc,2017-08-07,15,12,2
14174,4927,d401d2164b0bca8a0f160439792bbfe5,ba20ac2de22cfe373f316eaa256b85fc,2017-08-07,15,18,3
14175,4927,d401d2164b0bca8a0f160439792bbfe5,ba20ac2de22cfe373f316eaa256b85fc,2017-08-07,15,14,2
14176,4931,44a5de5644ca5ad7365a5d1df6d24448,90bb1d035e403538d20b073aec57bea2,2017-08-07,13,14,1
14177,4932,90bb1d035e403538d20b073aec57bea2,86b8143c4b45943cbe0b273b45541c88,2017-08-07,21,20,1
14178,4932,90bb1d035e403538d20b073aec57bea2,86b8143c4b45943cbe0b273b45541c88,2017-08-07,21,14,1
14179,4932,90bb1d035e403538d20b073aec57bea2,86b8143c4b45943cbe0b273b45541c88,2017-08-07,21,8,1
14180,4933,f5dc996f6aa097f7a84a9bcfe58ed55c,b14d0536451c4f8dfc66d405ada124c5,2017-08-07,11,14,1
14181,4934,0e36f17c4567e570d0d2986cc23ae569,8102cf754b959c7b7b12c37eb19f90b8,2017-08-07,9,6,1
14182,4934,0e36f17c4567e570d0d2986cc23ae569,8102cf754b959c7b7b12c37eb19f90b8,2017-08-07,9,8,2
14183,4934,0e36f17c4567e570d0d2986cc23ae569,8102cf754b959c7b7b12c37eb19f90b8,2017-08-07,9,16,2
14184,4937,7055b2ecf76f50e281ae752c08fc5d56,f92dfcc31699ad56d967a57673b8fc65,2017-08-07,21,10,1
14185,4937,7055b2ecf76f50e281ae752c08fc5d56,f92dfcc31699ad56d967a57673b8fc65,2017-08-07,21,8,2
14186,4937,7055b2ecf76f50e281ae752c08fc5d56,f92dfcc31699ad56d967a57673b8fc65,2017-08-07,21,12,1
14187,4938,940ed2bc6835c66f6261c972d4176d25,b14d0536451c4f8dfc66d405ada124c5,2017-08-07,7,14,10
14188,4940,ee62ad9476f20f81a6c52c8562d0fb76,6d7827e8dcfa09497954a31e6f7e6ee6,2017-08-07,13,6,1
14189,4941,1239d1bfdc532392645d7a37f7469adf,aa532f0935c3f7f5d2f1f337125998a0,2017-08-07,9,20,1
14190,4941,1239d1bfdc532392645d7a37f7469adf,aa532f0935c3f7f5d2f1f337125998a0,2017-08-07,9,16,1
14191,4941,1239d1bfdc532392645d7a37f7469adf,aa532f0935c3f7f5d2f1f337125998a0,2017-08-07,9,18,1
14192,4943,f92dfcc31699ad56d967a57673b8fc65,f68c7b61e53eccd9f70b0a2d0da8062a,2017-08-07,23,20,1
14193,4943,f92dfcc31699ad56d967a57673b8fc65,f68c7b61e53eccd9f70b0a2d0da8062a,2017-08-07,23,22,1
14194,4947,95804250db351da3502379b2ba13b3b0,8102cf754b959c7b7b12c37eb19f90b8,2017-08-07,13,12,1
14195,4974,0613fd690240317177a03a0b26ca8591,c538ad66d710f99ad0ce951152da36a4,2017-08-07,15,8,4
14196,4982,0613fd690240317177a03a0b26ca8591,c538ad66d710f99ad0ce951152da36a4,2017-08-07,17,8,4
14197,4989,0613fd690240317177a03a0b26ca8591,c538ad66d710f99ad0ce951152da36a4,2017-08-07,1,8,4
14198,4983,6d7827e8dcfa09497954a31e6f7e6ee6,accd9ba16fbd7218451339035fcb4990,2017-08-07,13,2,4
14199,4983,6d7827e8dcfa09497954a31e6f7e6ee6,accd9ba16fbd7218451339035fcb4990,2017-08-07,13,6,1
14200,4983,6d7827e8dcfa09497954a31e6f7e6ee6,accd9ba16fbd7218451339035fcb4990,2017-08-07,13,18,1

In [15]:
sub=pd.DataFrame({"test_id":test['test_id']})

In [16]:
sub['count']=test['test_id'].apply(lambda x:result[x] if x in result.keys() else 1)

In [19]:
sub.to_csv("../result/submission.csv",index=False)

In [10]:
merged_data.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour_x,create_hour_y,count
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,12,4
1,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,18,10
2,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,22,32
3,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,8,7
4,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,16,3